body {
  font-family: Arial, sans-serif;
  padding: 20px;
  max-width: 900px;
  margin: auto;
  /* background-color: aqua; */
}
header {
  background: #f7f7f7;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 10px;
}
nav {
  margin-bottom: 12px;
}
nav a {
  text-decoration: none;
  color: #333;
  margin-right: 8px;
}
main {
  background: #fff;
  padding: 12px;
  border-radius: 6px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.03);
}

